* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://www.blithewallet.com/assets/hero-bg.a5dce2b7.jpg");
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding-top: 20px;
  width: 1550px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

header {
  width: 1550px;
  /* margin: 0 auto; */
  height: 77px;
  padding: 18px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-width: 1350px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a:hover {
  color: #20262e;
}

header a {
  font-size: 14.4px;
  padding: 8px 15px;
}

header span {
  color: red;
  font-size: 13px;
  position: relative;
  top: -5px;
  font-weight: 600;
}

.logo {
  width: 33px;
}

.register {
  padding: 8px 16px;
  border: 1px solid #ff9f00;
  background-color: #ff9f00;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.register:hover {
  background-color: #d98700;
}

header a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

.main-info {
  height: 720px;
  display: flex;
  align-items: center;
}

.main-info .col-left h1 {
  font-size: 70px;
  font-weight: 300;
  margin-bottom: 48px;
}

.col-left span {
  font-size: 70px;
  color: #6610f2;
}

.col-left h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 24px;
}

.li-items {
  margin-bottom: 2.5rem;
}

.li-items li {
  height: 40px;
  font-size: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxjaXJjbGUgY3g9IjMuOTU5NDYiIGN5PSI0LjkyNjUzIiByPSIzLjk1OTQ2IiBmaWxsPSIjRTlERkZGIi8+CjxjaXJjbGUgY3g9IjcuOTE4OTMiIGN5PSI0LjkyNjUzIiByPSIzLjk1OTQ2IiBmaWxsPSIjNkIyOUZGIi8+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 25px;
}

.icon-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.col-right img {
  width: 621px;
  height: 680px;
  transform: rotate(-10deg);
}

.partners {
  height: 85px;
  margin: 26px auto;
  width: 100%;
  background-color: #f8f8f8;
  transform: scale(1.2);
}

.partners-logo {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.partners-logo img {
  max-height: 50px;
}

.partners-logo,
.partners-logo a {
  display: flex;
  height: 85px;
  padding: 24px 0;
  align-self: center;
}

.important {
  display: flex;
  gap: 100px;
  margin-top: 80px;
  margin-bottom: 140px;
  align-items: flex-end;
}

.column {
  width: 33%;
}

.column h2 {
  font-size: 36px;
  font-weight: 700;
}

.column h4 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #475467;
  margin-bottom: 40px;
}

.column img,
.column h2,
.col-info {
  margin-bottom: 20px;
}

.column a {
  height: 27px;
  padding: 10px 16px;
  background-color: #6c2bfb;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  align-self: center;
}

.column a:hover {
  background-color: #5c25d5;
}

/* .col-info {
  width: 33%;
} */
.download-blithe {
  margin: 0 auto;
  position: relative;
}
.download-blithe img {
  width: 1260px;
  height: 480px;
  background-image: url(/imgs/copy-image.png);
}

.download-blithe a {
  position: absolute;
  font-size: 18px;
  background-color: #ff9f00;
  padding: 13px 16px;
  width: 165px;
  border-radius: 5px;
  top: 72%;
  left: 57px;
  text-decoration: none;
  color: #fff;
  word-spacing: 2px;
}

.download-blithe a:hover {
  background-color: #d98700;
}
